h1
{

	font-size: 2em;
	font-weight: 300;
	color: #6c7ae0;
	padding-left: 20px;
	padding-bottom: 10px;
}

body
{
	background-color: rgba(235,239,242,1);
}

/* side margin for page */
article
{
	width: 1300px;
	margin: auto;
}

.page
{
	margin-top: 50px;
	padding: 30px 20px 40px 20px;
	background-color: #fff;
}

/* Table decor */
table 
{
	background-color: #fff;
	width: 100%;
}

th, td {
	font-weight: unset;
	padding-right: 10px;
}

th 
{
	padding-top: 18px;
	padding-bottom: 18px;
	font-size: 18px;
	color: #fff;
	line-height: 1.4;
	background-color: #6c7ae0;
}

td 
{
	padding-top: 18px;
	padding-left: 18px;
	padding-bottom: 18px;
	font-size: 15px;
	color: #808080;
}


.table-body
{
	max-height: 440px;
	overflow: auto;
}

tr:nth-child(even) 
{
	background-color: rgba(235,239,242,1);
}

/*shadowy effect*/
.page 
{
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
	
	border-collapse:separate;
    	border: 2px solid #6c7ae0;
    border-radius:6px;
    -moz-border-radius:6px;
}


/*I used two tables to make scrolling work, 
one for the header and one for the body.
in order for them to line up I made an extra cell that is transparent
the same size as the scrollbar.
*/
.spacing
{
	width: 12px;
	padding: 0px;
	opacity: 0;
}

/*button*/

.buttons
{
	margin-left:20px;
	padding-top:30px;
}
.download
{
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.addData
{
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
	margin-left: 10px;
}

button > a
{
	text-decoration: none;
	color: inherit;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button
{
	text-decoration: none;
	display: inline-block;
	border-radius: 4px;
	background-color: #6c7ae0;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	border: 2px solid #6c7ae0;
}



.button:hover  {
  background-color: white; 
  color: #6c7ae0; 
  border: 2px solid #6c7ae0;
}
